<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vaapps.photoslideshow.photovideomaker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="vaapps.photoslideshow.photovideomaker.KessiApplication"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="applovin.sdk.key"
            android:value="ttcHNDEIHmybFKMPCCg6GE0-SHHtx5Il000TufyXlDWyi71Mc4-zW-CBl96Uxs99RV8X0GbwqTWubcNU6UEfi6" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />


        </provider>

        <activity
            android:name="vaapps.photoslideshow.photovideomaker.SplashActivity"
            android:screenOrientation="nosensor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:exported="false"
            android:name="vaapps.photoslideshow.photovideomaker.MainActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:exported="false"
            android:name="vaapps.photoslideshow.photovideomaker.kessiphotopicker.activity.ImagePickerActivity"
            android:screenOrientation="nosensor" />
        <activity android:exported="false"
            android:name="vaapps.photoslideshow.photovideomaker.swap.SwapperActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:exported="false"
            android:name="vaapps.photoslideshow.photovideomaker.select_frm.DecorFrmActivity"
            android:screenOrientation="nosensor" />
        <activity android:exported="false"
            android:name="vaapps.photoslideshow.photovideomaker.videoplayer.VideoPlayerActivity"
            android:screenOrientation="nosensor" />
        <activity android:exported="false"
            android:name="vaapps.photoslideshow.photovideomaker.song.SongGalleryActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:exported="false"
            android:name="vaapps.photoslideshow.photovideomaker.VideoThemeActivity"
            android:screenOrientation="nosensor" />

        <service
            android:exported="false"
            android:name="vcarry.service.ServiceAnim" />

        <activity
            android:exported="false"
            android:name="vaapps.photoslideshow.photovideomaker.myvideo.MyVideo"
            android:screenOrientation="nosensor" />
        <activity
            android:exported="false"
            android:name="vaapps.photoslideshow.photovideomaker.VideoMakerActivity"
            android:screenOrientation="nosensor" />

        <activity
            android:exported="false"
            android:name="vaapps.photoslideshow.photovideomaker.PrivacyActivity"
            android:screenOrientation="nosensor" />

        <activity
            android:exported="false"
            android:name="vaapps.xinlan.imageeditlibrary.editimage.EditImageActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"/>

    </application>

</manifest>